.myselfSection {
  padding: 0px;
  margin: 0 0 120px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  img {
    max-width: 40%;
  }
  div p {
  font-size: 1em;
  // font-weight: bolder;
  background-color: #6c63ff;
  color: white;
  padding: 10px;
  width: 230px;
  text-align: center;
  outline: none;
  border-radius: 2px;
  }
}
@media only screen and (max-width: 600px) {
  .myselfSection {
    flex-direction: column!important;
    div p{
      margin: 25px 0px;
    }
  }
}